
.popup-background{
    background: pink;
}
.popup {
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 70%;
    height: 80%;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.pop-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #fff ;
    display: flex;
    justify-content: center;
}

.popup-inner .close-btn {
    position: absolute;
    padding: 30px;
    width: 30px;
    height: 30px;
    border-radius: 60%;
    border: none;
    background-color: #FFF;
}

.close-btn:hover h4 {
    color: #b1df11 ;
}