.project-card {
    width: 250px;
    height: 350px;
    /* border-style: dotted; */
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.project-card-wrapper {
    width: fit-content;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
}

#display-image {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
    border-radius: inherit;
}

.call-to-action-btn {
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
}

.call-to-action-btn:hover {
    color: white;

}

.pop-up-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#pop-up-images {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 50px;
}

.popup-background {
    display: flex;
    align-items: center;
    justify-content: center;
}